.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    flex: 0 0 100px;
    margin-right: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center center;
  }
  .team-meta {
    flex: 1;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
    }
  }
  .team-content {
    flex: 1 0 100%;
    margin-top: 1rem;
  }

}
