---
title: Blogs
layout: default
bodyClass: page-blogs-list
image: /assets/images/work-in-progress.svg
---

<div
    class="intro mb-0"
    style="box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        height: 25vw !important;
        background-image: url({{page.image}});
        background-size: {% if page.imageNarrow %}contain{% else %}cover{% endif %};
        {% if page.imageBackground %}background-color: {{page.imageBackground}};{% endif %}
        background-position: center;
        background-repeat: no-repeat;"
></div>
<div style="margin-top: -5vw" class="strip strip-diagonal pt-4">
    <div class="container">
        <h1 class="hero text-white">Behind the scenes</h1>

        {% for blog in site.blogs %}
        <div class="blog blog-summary pb-4">
            <div class="blog-content">
                <h2 class="blog-title">
                    <a href="{{site.baseurl}}{{ blog.url }}"
                        >{{ blog.title }}</a
                    >
                </h2>
                {{ blog.content | markdownify | strip_html | truncate: 250 }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
