---
title: BDSI - Behavioural Data Science Incubator - Collaborate
layout: default
bodyClass: page-list
---

<div class="container py-6">
    <h1 class="text-white hero">Let's work together</h1>
</div>

<div class="strip strip-diagonal">
    <div class="container">
        <h2>What can we do for you?</h2>
        <p>The best way to learn how we can help you is to contact us for a (digital) coffee, so we can discuss your research, the challenges you face, and potential support we may be able to provide. What happens afterwards depends on the situation, but broadly speaking we will either consult or collaborate.</p>
        <p>
            We can provide {% for service in site.services %}{% unless forloop.first %}, {% endunless %}<a href="{% link {{service.path}} %}">{{service.title | downcase }}</a>{% endfor %}, and much more. 
            We work closely together with {% for partner in site.partners %}{% unless forloop.first %}, {% if forloop.last %}and {% endif %}{% endunless %}<a href="{{partner.website}}">{{partner.title}}</a>{% endfor %}.
        </p>

        <h3>Consultation</h3>
        <p>Consultations are always free. We will aim to provide advice and connect you with other researchers, communities or funding opportunities. Consultations are generally the first step towards collaboration.</p>
        <p>To schedule a consultation, please contact one of <a href="/team">our team members</a> directly. If you're unsure who to contact, you can also reach out to <a href="mailto:bdsi@utwente.nl">bdsi@utwente.nl</a> and one of our team members will get in touch.</p>
        <a href="{% link team.html %}" class="button">BDSi Team</a>

        <h3>Collaboration</h3>
        <p>BDSi will also collaborate on selected projects. <a href="{% link _news/call-for-proposals-2021.md %}">BDSi Data Science grants</a> are provided multiple times per year to support projects with a high impact for data science at BMS. </p>
        <a href="{% link _news/call-for-proposals-2021.md %}" class="button">BDSi Data Science Grant</a>
    </div>
</div>
