---
title: Contact
layout: default
bodyClass: page-contact
---

<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>
<div class="container mb-2">
  <div class="row">
    <div class="col-12">
      <h2>Data Science Community</h2>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <span class="iconify-inline" data-icon="ph:chats-fill"></span>Teams
            Channel
          </h3>
          <p>
            Part of supporting data science in the long term is building a
            community of data scientists and researchers interested in data
            science. Within the community we can share ideas, questions, and
            expertise with eachother.
          </p>
          <p>
            The BDSi Data Science Community is free to join for anyone
            affiliated with the University of Twente, or involved in a research
            project of the University of Twente.
          </p>
          <h4>Do you have a University of Twente account?</h4>
          <div class="row">
            <div class="col-lg-6 panel">
              <blockquote>Yes</blockquote>
              You can instantly join the BDSi Data Science Community team by
              following these steps:
              <ol>
                <li>Open Teams</li>
                <li>Go to the "Teams" tab</li>
                <li>Make sure you're on the "all teams" page</li>
                <li>Click "Join or create team"</li>
                <li>Use the code <code>t1p0d1d</code></li>
              </ol>
              Welcome to the community!
            </div>
            <div class="col-lg-6">
              <blockquote class="mt-4 mt-lg-0">No</blockquote>
              You can apply to join the BDSi Data Science Community team using
              the link below. We'll let you in as soon as possible.
              <br />
              <a
                href="https://teams.microsoft.com/l/channel/19%3aByywZOzEom4TD269aMiOnryoyS6qxlP9qHo8PONi5Y01%40thread.tacv2/General?groupId=9e63c81f-f953-4d91-8826-385bb1ddb2f8&tenantId=723246a1-c3f5-43c5-acdc-43adb404ac4d"
                class="button mt-2 large"
                style="
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width: min-content;
                "
              >
                Join the BDSi Data Science Community
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-6">
      <h2>Team Members</h2>
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            {% assign profiles_sorted = site.team | sort: "title" %} {% for
            profile in profiles_sorted %} 
            {% include profile-widget-small.html %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-0 mt-md-0">
      <h2>BDSi</h2>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            <span class="iconify-inline" data-icon="ph:envelope"></span>
            Email address
          </h3>
          <a href="mailto:bdsi@utwente.nl">bdsi@utwente.nl</a>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-body">
          <h3 class="card-title">
            <span class="iconify-inline" data-icon="ph:package"></span>
            Postal address
          </h3>
          <pre
            class="card-text"
            style="font-family: unset; white-space: pre-line"
          >
          Behavioural Data Science Incubator
                Faculty of Behavioural, Management and Social Sciences
                University of Twente, PO BOX 217
                7500 AE Enschede, The Netherlands
        </pre
          >
        </div>
      </div>
    </div>
  </div>
</div>
