---
title: BDSi Data Science week
layout: default
bodyClass: page-single
image: /assets/images/content/bdsi-datathon/datathon-header.svg
imageNarrow: true
imageBackground: "#009CC3"
---

<div
    class="intro mb-0"
    style="
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        height: 25vw !important;
        background-image: url({{page.image}});
        background-size: {% if page.imageNarrow %}contain{% else %}cover{% endif %};
        {% if page.imageBackground %}background-color: {{page.imageBackground}};{% endif %}
        background-position: center;
        background-repeat: no-repeat;"
></div>

<div style="margin-top: -5vw" class="strip strip-diagonal pt-4">
    <div class="container">
        <h2 id="goal">Goal</h2>
        <p>
            Given a dataset about known sales prices for houses, create a model
            that can accurately predict future sales prices.
        </p>
        <p>
            For you to succeed to give good predictions, you need to figure out
            what the relationship is between <code>SalePrice</code> and the
            other variables. Such a relationship could be captured with a model.
            An example of a very simple model would be a linear regression model
            with dependent variable <code>SalePrice</code> and independent
            variable <code>LotArea</code>: the bigger the lot, the higher the
            sale price.
        </p>
        <p>
            The goal of this datathon is to predict the sale price for future
            sales. The team that gives us values that are closest to the actual
            SalePrice (the best predictions), is the winner. Predictions are
            made by fitting a model using the training data, and then use this
            model to make predictions for the test data. There are many types of
            models that you could use, and their performance may differ.
        </p>
        <p>
            The challenge is to figure out what would be the best model to use,
            what predictors provide the most information, and how to tune your
            model for optimal performance - all without overfitting to the
            training data.
        </p>
        <p>
            During the week there will be workshops for specific parts of this
            process, you will be working together with your team, and you can
            ask the other participants and BDSi staff questions.
        </p>
        <p>
            When you're satisfied with your model, create a
            <code>.csv</code> file with your predictions, and hand it as well as
            the scripts and models you used in before midnight on Sunday. The
            team(s) coming up with the best and/or most creative solutions will
            be asked to present during the final session.
        </p>

        <h2 id="signup" class="mt-4">Haven't signed up yet?</h2>
        <a class="button mr-2" href="https://forms.office.com/r/HyBXA6PJyS"
            >Sign up now!</a
        >

        <h2 class="mt-4">What will we do?</h2>
        <p>
            Amin Asadi was kind of enough to record a video presentation of his
            submission for last years' Data Science Week - have a look!
        </p>
        <p>
            Amin chose to meet the challenge on his own, but you don't have to.
            In fact, the datathon is best performed as a group - so that you can
            learn from each other, and explore together. BDSi staff will be
            available to give you a helping hand if and when you get stuck.
        </p>
        <div style="padding: 62.5% 0 0 0; position: relative">
            <iframe
                src="https://player.vimeo.com/video/622295144?h=2f2f8265af&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                "
                title="Data Science week - Amin Asadi"
            ></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>

        <h2 id="schedule" class="mt-4">Schedule</h2>
        <p>
            During the first week BDSi staff will host a number of lunch
            seminars and workshops around data wrangling, visualization and
            modelling. The Data Science week will be capped off with a final
            session in which teams present their solutions.
        </p>
        <img
            src="/assets/images/data-science-week-2022-2-schedule.png"
            style="max-width: 100%"
        />
        <div class="row">
            <div
                class="col-xl-4 col-lg-6 col-12 mt-4"
                style="border-right: 1px dashed rgba(0.4, 0.4, 0.4, 0.1)"
            >
                <h4>Kickoff</h4>
                <h6 class="date">February 14th, 15:30 – 17:00</h6>
                <h5>Materials</h5>
                <a
                    href="https://universiteittwente.sharepoint.com/:v:/s/BDSiDataScienceCommunity/EcSuM2BO8GVCkf5sKSpqmLEBjmVu4u69mduF5xK0--ioZA?e=1QufEN"
                >
                    <h6>Recording</h6>
                </a>
                <a
                    href="https://universiteittwente.sharepoint.com/:p:/s/BDSiDataScienceCommunity/EafyDmvfnhxDkgdh6NmQyDsBdz8tXMn24uOsz90_ga7d9g?e=5CA0H6"
                >
                    <h6>Slides</h6>
                </a>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-12 mt-4"
                style="border-right: 1px dashed rgba(0.4, 0.4, 0.4, 0.1)"
            >
                <h4>
                    <a href="/events/workshops/2022-02-tidy-data-wrangling/"
                        >Workshop Data Wrangling</a
                    >
                </h4>
                <h6
                    class="date"
                    style="border-right: 1px dashed rgba(0.4, 0.4, 0.4, 0.1)"
                >
                    February 15th, 12:45 - 13:30
                </h6>
                <h5>Materials</h5>
                <a
                    href="https://universiteittwente.sharepoint.com/:v:/s/BDSiDataScienceCommunity/ERncvI1S4kNCmfvXXkkUrFgBSKNfaquW-4XN2z-l7_Fc8A?e=p9mEOy"
                    ><h6>Recording</h6></a
                >
                <a
                    href="https://universiteittwente.sharepoint.com/:u:/s/BDSiDataScienceCommunity/EYEEEj0QZ_xFmvwl0JBd3rYBg29OOsf8euxT_zvpvcad_w?e=p9YJc8"
                >
                    <h6>Slides</h6>
                </a>
                <a
                    href="https://universiteittwente.sharepoint.com/:u:/s/BDSiDataScienceCommunity/EcPgWLnJ1HxKnb_5SlQqcAsB8vgFdIOTUNk1yh-2LfirEg?e=7aH9Ps"
                >
                    <h6>Source</h6>
                </a>
            </div>
            <div
                class="col-xl-4 col-lg-6 col-12 mt-4"
                style="border-right: 1px dashed rgba(0.4, 0.4, 0.4, 0.1)"
            >
                <h4>
                    <a href="/events/workshops/data-visualization/"
                        >Workshop Data Visualization</a
                    >
                </h4>
                <h6 class="date">February 16th, 12:45 - 13:30</h6>
                <h5>Materials</h5>
                <a
                    href="https://universiteittwente.sharepoint.com/:v:/s/BDSiDataScienceCommunity/ETymIYEgbtBPmCvdrsxuuBcBhgyrvLm1ROKHzdav4qqmsA?e=jo8PP3"
                >
                    <h6>Recording</h6>
                </a>
                <a
                    href="https://universiteittwente.sharepoint.com/:u:/s/BDSiDataScienceCommunity/ERVP9_IgePRIlk_i5WXJm9wBGtQvX5AR3eGO14MjCw3LPw?e=x18fXs"
                >
                    <h6>Slides</h6>
                </a>
                <a
                    href="https://universiteittwente.sharepoint.com/:u:/s/BDSiDataScienceCommunity/EYrPYF9-2HNPk95iIgXnJIoBZBJuDnpkR2PcZ61mQSYxEg?e=ZlB1GT"
                >
                    <h6>Source</h6>
                </a>
            </div>
            <div class="col-xl-4 col-lg-6 col-12 mt-4">
                <h4>
                    <a href="/events/workshops/machine-learning/"
                        >Workshop Machine Learning</a
                    >
                </h4>
                <h6 class="date">February 17th, 12:45 - 13:30</h6>
                <!-- <h5 class="mt-2">Materials</h5>
                <h6>
                    <a
                        href="/assets/files/datathon/housing/modelling.html"
                        target="_blank"
                        >workshop pages</a
                    >
                </h6>
                <p class="small text-muted">
                    Extended version of the workshop slides as a single website.
                    Opens in your browser.
                </p>
                <h6>
                    <a href="/assets/files/datathon/housing/modelling.zip"
                        >workshop script</a
                    >
                </h6>
                <p class="small text-muted">
                    RMarkdown and Jupyter notebook versions of the script used
                    to create the workshop slides and pages (above), in a
                    <code>.zip</code> archive together with the images used.
                    RMarkdown combines text (markdown) and code (R, and a bit of
                    HTML). You can open the <code>.Rmd</code> file in RStudio
                    and the <code>.ipynb</code> file in Jupyter notebooks.
                </p>
                <h6>
                    <a
                        href="https://universiteittwente-my.sharepoint.com/:v:/g/personal/a_k_machens_utwente_nl/EXnBl0He2MxDjuDmSDvTqAQBklkw8MRTFvMAWp-qs7xV9A?e=NLW0f5"
                        >workshop video</a
                    >
                </h6>
                <p class="small text-muted">
                    recording of the workshop itself. Only accessible when
                    logged in with a University of Twente account.
                </p> -->
            </div>
            <div
                class="col-xl-4 col-lg-6 col-12 mt-4"
                style="border-right: 1px dashed rgba(0.4, 0.4, 0.4, 0.1)"
            >
                <h4>Submission Deadline</h4>
                <h6 class="date">February 26th, 23:59</h6>
                <!-- <h6>Prepare your submission</h6>
                <p class="small text-muted">
                    Submissions should contain the scripts you have used for
                    your analyses and modelling, and a <code>.csv</code> file
                    containing a column for the <code>Id</code> and
                    <code>SalePrice</code> predictions for the test dataset.
                </p>
                <p class="small text-muted">
                    For more information on how to prepare your submission, see
                    the slides of Thursdays'
                    <a
                        href="/assets/files/datathon/housing/modelling.html#prediction-on-test-set-and-writing-the-submission-file"
                        >modelling workshop</a
                    >.
                </p>
                <h6>make your submission</h6>
                <p class="small text-muted">
                    Both the scripts and the predictions should be sent to
                    <a
                        href="mailto:bdsi@utwente.nl?subject=datathon submission"
                        target="_blank"
                        >bdsi@utwente.nl</a
                    >, <strong>before midnight</strong>. If you're submitting
                    for your team, make sure to mention the other team members
                    and your team name.
                </p>
                <p class="small text-muted">
                    Note that you can only make one submission per team, so
                    submit your best predictions!
                </p> -->
            </div>
            <div class="col-xl-4 col-lg-6 col-12 mt-4">
                <h4>Closing Session</h4>
                <h6 class="date">February 28th, 15:30 – 17:00</h6>
                <!-- <a
                    href="/assets/files/datathon/housing/final-session.pptx"
                    title="presentation slides"
                    ><h6>Presentation slides</h6></a
                >
                <p class="small text-muted">
                    PowerPoint (<code>.pptx</code>) slides used in the final
                    presentation, including a number of useful links for further
                    reading and data science materials.
                </p>
                <h6>Amin Asadi's submission</h6>
                <div style="padding: 62.5% 0 0 0; position: relative">
                    <iframe
                        src="https://player.vimeo.com/video/622295144?h=2f2f8265af&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                        frameborder="0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen
                        style="
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        "
                        title="Data Science week - Amin Asadi"
                    ></iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script> -->
            </div>
        </div>

        <!-- <h2 class="mt-4" id="data">Data</h2>
        <p>
            There are two data sets. One is called <code>train.csv</code>. Every
            row represents a house sale. In the last column we see for what
            price each house was sold. The variable is called
            <code>SalePrice</code>. In all other columns there is other
            information about each house. In the file
            <code>data_description.txt</code> you can see what each
            column/variable represents.
        </p>

        <p>
            The second data set (<code>test.csv</code>) also contains
            information on a number of houses, but does not list
            <code>SalePrice</code>.
        </p>

        <div class="row">
            <div class="col-12 mt-4">
                <a
                    href="/assets/files/datathon/housing/data.zip"
                    title="bundled data"
                    ><h4>data.zip</h4>
                </a>
                ZIP file with testing and training datasets and data
                description. Includes all the individual files listed below.
            </div>
            <div class="col-xl-4 col-12 mt-4">
                <a href="/assets/files/datathon/housing/data_description.txt"
                    ><h4>description.txt</h4></a
                >description of the data
            </div>
            <div class="col-xl-4 col-12 mt-4">
                <a href="/assets/files/datathon/housing/train.csv"
                    ><h4>train.csv</h4></a
                >labelled training data
            </div>
            <div class="col-xl-4 col-12 mt-4">
                <a href="/assets/files/datathon/housing/test.csv"
                    ><h4>test.csv</h4></a
                >unlabelled testing data
            </div>
        </div> -->
    </div>
</div>
