---
title: Events
layout: default
bodyClass: page-list
---

<div class="container py-6">
    <h1 class="hero text-white">Events</h1>
    <h4 class="text-white">Workshops, Seminars, and other events</h4>
</div>

<div class="strip strip-diagonal">
    <div class="container">
        <div id="upcoming">
            <h2>Upcoming events</h2>
        </div>

        <div id="completed">
            <h2>Past events</h2>
        </div>

        <h2 style="display: none">debug</h2>
        {% for event in site.events %}
        <!-- prettier-ignore -->
        <div
      class="event mb-3"
      {% if event.startDate %}data-start="{{event.startDate}}" {% endif %}
      {% if event.endDate %}data-end="{{event.endDate}}" {% endif %}
      {% if event.time %}data-time="{{event.time}}" {% endif %}
      data-title="{{event.title}}"
      data-path="{{event.path}}"
    >
      <div class="row">
        <div class="col-8">
          <h3>
            <a href="{{site.baseurl}}{{ event.url }}">{{ event.title }}</a>
          </h3>
          <div class="authors">
            {% include author-list.html authors=event.authors page=event
            header="h6" %}
          </div>
          {% if event.introduction %} {{ event.introduction }} {% else %} {{
          event.content | markdownify | strip_html | truncate: 250 }} {% endif
          %}
        </div>
        <div class="col-4">
          <h6 class="date"></h6>
          {% include tags-list.html page=event %}
        </div>
      </div>
    </div>
        {% endfor %}

        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script src="https://unpkg.com/dayjs@1.8.21/plugin/advancedFormat.js"></script>
        <script src="/assets/js/pages/events.js"></script>
    </div>
</div>
