<div class="author-list">
    {%- if include.page -%}
        {%- assign page = include.page -%}
    {%- endif -%}
    {%- assign header = include.header | default: "h4" -%}
    {%- assign authors = include.authors | default: page.authors -%}

    {%- if authors == nil -%} 
        {% assign authors = "" | split: "" %}
        {% assign authors = authors | push: page.author %}
    {%- endif -%}

    {%- for author in authors -%}
        {%- if forloop.first != true -%}
            <{{header}}>,&MediumSpace;</{{header}}>
            {%- if forloop.last -%}
                <{{header}}>and&MediumSpace;</{{header}}>
            {%- endif -%}
        {% endif %}
        {% include author-list-item.html %}
    {% endfor %}
</div>
