{% assign title_element = include.title_element | default: "h2" %}
{% assign title = include.title | default "no title given, add 'title=...' %}
{% assign content = include.content | default "no content given, add 'content=...' %}
{% capture shadow %}{{include.shadow | default: "true" }}{% endcapture %}

<br />
<div class="card mb-2{% if shadow == 'true' %} shadow{% endif %}{% if include.bg %} bg-{{include.bg}}{% endif %}{% if include.text %} text-{{include.text}}{% endif %}">
  <div class="card-body">
    <div class="card-title">
      <{{title_element}}>{{title}}</{{title_element}}>
      {% if include.subtitle %}
      <div class="small text-muted">{{include.subtitle}}</div>
      {% endif %}
    </div>
    <div class="card-text">
      {{content}}
    </div>
  </div>
</div>
