<div id="main-menu" class="main-menu">
  <ul>
    <li>
      <a
        href="{{site.baseurl}}/"
        class="{% if page.url == '/' %}current{% endif %}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="{{site.baseurl}}/about"
        class="{% if page.url contains 'about' %}current{% endif %}"
        >About us</a
      >
    </li>
    <li>
      <a
        href="{{site.baseurl}}/projects/"
        class="{% if page.url contains 'projects' %}current{% endif %}"
        >Projects</a
      >
    </li>
    <li>
      <a
        href="{{site.baseurl}}/team/"
        class="{% if page.url contains 'team' %}current{% endif %}"
        >Team</a
      >
    </li>
    <li>
      <a
        href="{{site.baseurl}}/blogs/"
        class="{% if page.url contains 'blogs' %}current{% endif %}"
        >Blog</a
      >
    </li>
  </ul>
</div>
