<div class="main-menu-mobile" id="main-menu-mobile">
    <ul>
        <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
        <li><a href="{{site.baseurl}}/about" class="{% if page.url contains 'about' %}current{% endif %}">About</a></li>
        <li><a href="{{site.baseurl}}/projects/" class="{% if page.url contains 'projects' %}current{% endif %}">Projects</a></li>
        <li><a href="{{site.baseurl}}/events/" class="{% if page.url contains 'events' %}current{% endif %}">Workshops</a></li>
        <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
        <li><a href="{{site.baseurl}}/blogs/" class="{% if page.url contains 'blogs' %}current{% endif %}">Blog</a></li>
    </ul>
</div>
