<div class="card shadow" style="height: 500px; overflow-y: hidden; display: flex; flex-flow: column nowrap;">
  {% if item.heroImage %}<img
    src="{{item.heroImage}}"
    alt="{{item.title}}"
    class="card-img-top"
    style="height: 150px; width: 100%; object-fit: cover; flex: 0 0 auto;"
  />{% endif %}
  <div class="card-body" style="flex: 1 1 auto; display: flex; flex-flow: column nowrap; height: auto;">
    <div class="card-title" style="flex: 0 0 auto;">
      <h2><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h2>
      <div class="small text-muted">
        {% if item.author %}<a href="/team">{{item.author}}</a>, {% endif %}
        {{item.date | date: "%B %e, %Y"}}
      </div>
    </div>
    <div class="card-text" style="flex: 1 1 auto; overflow-y: hidden; text-overflow: ellipsis;">
      {% if item.heroText %} 
        {% assign paragraphs = item.heroText | split: "\n" %} 
        {% for p in paragraphs %}
          <p class="{% if forloop.first %}font-weight-bold{% else %}text-muted{% endif %}">
            {{p}}
          </p>
        {% endfor %}
      {% else%}
          {{item.content | truncatewords: 50, '...'}}
      {% endif %}
    </div>
    <div class="card-overflow"></div>
    <a class="ml-auto button" href="{{site.baseurl}}{{item.url}}" style="position: absolute; bottom: .5em; right: .5em;"
      >read more</a
    >
  </div>
</div>
