$background: $white;
$header: $secondary;
$text: $secondary; // darken($header, 30);

@for $i from 1 through 6 {
  h#{$i} {
    text-transform: uppercase;
    font-weight: 300;
    color: $header;

    a &, a {
      color: $link-color;
      text-decoration: $link-decoration;

      &:hover, &:active, &:focus-within {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }
    }
  }
}

h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
h1,
h2 {
  color: $primary;
}

.hero { 
  font-size: $font-size-base * 3.5;
}

body {
  background-color: $background;
  color: $text;
}

.button {
  height: 2em;
  padding: 0 14px;
  display: inline-block;

  white-space: nowrap;
  color: $white;
  background: $primary;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  
  line-height: 2em;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  text-transform: uppercase;

  transition: all 0.15s ease;

  &.center {
    display: block;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }

  &.lg {
    font-size: 26px;
  }

  &.xl {
    font-size: 32px;
  }
  
  &:hover {
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: $white;
  }
}

.highlighter-rouge {
  margin-bottom: 0.5em;

  pre {
    margin: 0;
  }

  > .highlight {
    padding: 0.5em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
} // Type Styling for body content
.content {
  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
}

.hamburger {
  padding: 0;
  padding-top: 10px;
  outline: none;
  z-index: 10;
  cursor: pointer;
  height: 40px;
  @include media-breakpoint-up(md) {
    display: none;
  }
  &:focus {
    outline: none;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: $primary;
  }
  .hamburger-inner::after {
    width: 18px;
    right: 0;
  }
  &.is-active {
    .hamburger-inner::after {
      width: inherit;
      right: unset;
    }
  }
}
blockquote {
  @extend .blockquote;
  & p + p:last-child {
    @extend .blockquote-footer;
  }
  margin-left: 0.2em;
  padding-left: 0.4em;
  border-left: 5px solid rgba($secondary, 0.3);
  background-color: rgba($secondary, 0.05);
}
.header {
  display: flex;
  align-content: center;
  justify-content: center;
  color: $primary;
  background-color: $secondary;
  box-shadow: none;
  padding: .5rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
  }
}

.logo {
  display: none;
  margin: auto 0;
  height: 90%;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    width: auto;
    height: auto;
    max-height: 100%;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.logo-mobile {
  display: block;
  width: 30px;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
$color-main: $primary;
$color-active: #fff;
$color-link: #fff;

$button-height: 27px;
$button-width: 35px;

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;

  &:hover {
    opacity: 0.7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    background: $color-main;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.main-menu-mobile {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
    z-index: 10;
    li {
      animation: fadeInRight 0.5s ease forwards;
      animation-delay: 0.35s;
      &:nth-of-type(2) {
        animation-delay: 0.4s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.45s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.55s;
      }
      &:nth-of-type(6) {
        animation-delay: 0.6s;
      }
    }
  }
  ul {
    font-size: 2rem;
    font-family: $font-family-heading;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0;
    li {
      display: block;
      position: relative;
      opacity: 0;
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: 0.35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.lock-scroll {
  overflow: hidden;
}

.main-menu {
  height: inherit;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      height: inherit;
      margin: 0;
      padding: 0;
      list-style: none;
      &:last-of-type {
        margin: 0;
      }
      > a {
        height: inherit;
        display: inline-block;
        padding: 0;
        font-family: $font-family-heading;
        font-size: 1.1rem;
        font-weight: 400;
        text-transform: uppercase;
        padding: 10px 14px 10px 14px;
        text-decoration: none;
        color: $white;
        &:hover {
          background: $primary;
          color: $white;
          text-decoration: none;
        }
      }
      > a.current {
        background: lighten($secondary, 10);
      }
    }
    > li.current {
      > a {
        background: $primary;
        text-decoration: none;
        color: $white;
        &:hover {
          text-decoration: none;
          background: $primary;
          transition: all 225ms ease-in 0s;
          color: $white;
        }
        span {
          display: block;
        }
      }
    }
  }
}
.page {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  flex-direction: column;

  #content {
    flex: 1 0 auto;
  }
}

.strip {
  background: $background;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 28px 22px;
}

.strip-diagonal {
  transform: skewY(5deg);
  padding: 50px 0;
  margin-bottom: 65px;
  > * {
    transform: skewY(-5deg);
  }
}

@mixin shadow($color: rgba(0,0,0,0.2), $x: 0, $y: 1px, $blur: 18px) {
  box-shadow: $x $y $blur $color;
}
@mixin whitebox($padding: 10px) {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background: #fff;
  padding: $padding;
  @include shadow();
}
.whitebox {
  @include whitebox();
}
.shadow {
  @include shadow();
}

.card-overflow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: linear-gradient(to bottom, #f5f5f500 0%, #f5f5f5 66%, #f0f0f0 100%);
}

.page-single {
  background-color: $primary;
  background-image: url("/assets/images/strip-background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.page-list {
  background-color: $primary;
  background-image: url("/assets/images/strip-background.svg");
  background-attachment: fixed;
  background-size: cover;
}

.author-list {
    display: flex;
    flex-flow: row wrap;
    font-family: $font-family-heading;

    a {
      text-decoration: underline;
    }

    .author-list-item {
      display: flex;
      flex-flow: row nowrap;

      
      img {
        height: 1.3em;
        width: auto;
        border-radius: 50%;
        margin-right: .2em;
      }
    }
}

#footer {
    color: $white;
    background-color: $secondary;
    font-family: $font-family-heading;
    padding: 2em calc(min(10vw, 10em)) 1em;
    justify-content: space-around;
    font-weight: 100;
    max-width: 100%;

    .footer-content {
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-rows: auto;
      gap: 1rem;
      grid-auto-flow: column dense;
      max-width: 100%;
    }

    .footer-block {
      min-width: max-content;
      max-width: 100%;
    }

    .sub-footer {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      gap: 2rem;

      a {
        font-size: smaller;
      }
      .title {
        padding: 2em 0 1em;
        width: max-content;
        font-weight: bolder;
        font-family: $font-family-heading;
      }
    }

    pre.address-block {
      color: $white;
      white-space: pre-line;
      font: unset;
    }

    .inset {
      margin-left: .4em;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $white;
    }

    #partners-slider {
      width: 100%;
      overflow: hidden;
    }

    a {
      .icon {
        width: 24px;
      }
      img.profile-image {
        height: auto;
        width: 1.3em;
        border-radius: 50%;
        position: relative;
        bottom: .1em;
        margin-right: .3em;
        filter: saturate(0%) brightness(120%) contrast(120%);
        transition: filter .2s ease-in-out;
      }

      img.logo {
        max-height: 5rem;
        max-width: 100%;
        height: auto;
        width: auto;
      }
      
      text-decoration: none;
      display: block;
      transition: color .2s ease-in-out;
      color: $white;

      &:hover, &:active, &:focus {
        color: $primary;
        fill: $primary;

        img {
          filter: saturate(100%) brightness(100%) contrast(100%);
        }
      }
    }
}
