.blog-summary {
  display: flex;
  align-items: flex-start;
  .blog-image {
    flex: 0 0 100px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .blog-content {
    flex: 1;
  }
}
.page-blogs-list {
  @extend .page-list;
}
.page-blogs-single {
  @extend .page-single;
}
