.page-projects-list {
  @extend .page-list;
}
.page-projects-single {
  @extend .page-single;
}

.project-summary {
  display: flex;
  align-items: flex-start;
  .project-image {
    flex: 0 0 100px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .project-content {
    flex: 1;
  }
}
