---
layout: default
---

{% if page.image %}
    <div 
      class="intro mb-0"
      style="
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
        height: 25vw !important;
        background-image: url({{page.image}});
        background-size: {% if page.imageNarrow %}contain{% else %}cover{% endif %};
        {% if page.imageBackground %}background-color: {{page.imageBackground}};{% endif %}
        background-position: center;
        background-repeat: no-repeat;"
    ></div>
    <div style="margin-top: -5vw;" class="strip strip-diagonal pt-4">
        <div class="container">
            <h1>{{page.title}}</h1>
            {% include author-list.html header="h6" %}
            <h5>
                {{- page.startDate | default: page.date | date: "%B %e, %Y" -}}
                {%- if page.endDate -%} — {{page.endDate | date: "%B %e, %Y"}}{% endif %}
                {%- if page.time -%}, {{page.time}}{% endif %}
            </h5>
            {% if page.subtitle %}
                <h4 class="subtitle">{{page.subtitle}}</h4>
            {% endif %}
{% else %}
    <div class="container py-6">
        <h1 class="hero text-white">{{page.title}}</h1>
        {% include author-list.html header="h6 class='text-white'" %}
        <h5 class="text-white">
          {{- page.startDate | default: page.date | date: "%B %e, %Y" -}}
          {%- if page.endDate -%} — {{page.endDate | date: "%B %e, %Y"}}{% endif %}
          {%- if page.time -%}, {{page.time}}{% endif %}
        </h5>
        {% if page.subtitle %}
            <h4 class="subtitle text-white">{{page.subtitle}}</h4>
        {% endif %}
    </div>
    <div class="strip strip-diagonal">
        <div class="container">
        
{% endif %}
        {{page.content}}
    </div>
</div>
